.git
.github

venv
.venv
.resume
__pycache__
*.pyc
.pytest_cache
.ipynb_checkpoints
*.ipynb

data/
notebook/

mlruns/
models/

# Target test and training folders anywhere in the project tree
**/test/
**/training/

*.csv
*.xlsx
*.parquet

.env

README.md

.DS_Store

*.db
dataset.py