.git
.github

venv
.venv
.resume
__pycache__
*.pyc
.pytest_cache
.ipynb_checkpoints
*.ipynb

data/
notebook/

mlruns/
models/
*test/

*.csv
*.xlsx
*.parquet

.env

README.md

.DS_Store

*training/

dataset.py